@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Momo+Signature&family=Stack+Sans+Notch:wght@200..700&display=swap');

@theme {
    --color-accent-1: #1EDF95;
    --color-accent-2: #1EDF95;
    --color-accent-3: #592BA2;
    --color-accent-4: #ffff73;
    --color-base-1: #1a1a1a;
    --color-base-2: #202020;
    --color-base-3: #4a4a4a;
    --color-text-1: #DCD5CC;
    --color-text-2: #f0e8df;
    --font-style: "Momo Signature", cursive;
    --font-display: "Fira Mono", monospace;
}