@import 'tailwindcss';

@theme {
    --color-accent-1: #1EDF95;
    --color-accent-2: #1EDF95;
    --color-base-1: #1a1a1a;
    --color-base-2: #363636;
    --color-base-3: #4a4a4a;
    --color-text-1: #DCD5CC;
}